<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.ming.dao.MaterialBaseDao">
	<resultMap id="BaseResultMap" type="com.ssm.ming.domain.MaterialBase">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="product_series_id" property="productSeriesId" jdbcType="INTEGER" />
		<result column="material_no" property="materialNo" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="category" property="category" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="storage_life" property="storageLife" jdbcType="INTEGER" />
		<result column="specifications" property="specifications" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="is_enable" property="isEnable" jdbcType="BOOLEAN" />
		<result column="is_delete" property="isDelete" jdbcType="BOOLEAN" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, product_series_id, material_no, name, picture, category, unit, storage_life, specifications, description, is_enable, is_delete, create_time, create_user, update_time, update_user 
	</sql>
	<select id="selectMaterialBaseInfo" resultMap="BaseResultMap" parameterType="string">
		select
		    a.id,
		    a.product_series_id,
		    a.material_no,
		    a.name,
		    a.picture,
		    a.category,
		    a.unit,
		    a.storage_life,
		    a.specifications,
		    a.description,
		    a.is_enable,
		    a.is_delete,
		    a.create_time,
		    b.user_name as create_user,
		    a.update_time,
		    c.user_name as update_user
		from
		    t_material_base AS a
		        INNER JOIN
		    t_sys_user AS b ON a.create_user = b.id
		        INNER JOIN
		    t_sys_user AS c ON a.update_user = c.id
		where 
			material_no like '%${materialNo}%'
		order by 
			${sort} ${sortOrder}
	</select>

	<insert id="insertMaterialBaseInfo" parameterType="com.ssm.ming.domain.MaterialBase" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_material_base 
			<trim prefix="(" suffix=")" suffixOverrides=",">
				material_no,
				name,
				category,
				unit,
				create_user,
				update_user,
				<if test="productSeriesId != null">product_series_id,</if>
				<if test="picture != null">picture,</if>
				<if test="storageLife != null">storage_life,</if>
				<if test="specifications != null">specifications,</if>
				<if test="description != null">description,</if>
			</trim>
		 values
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{materialNo},
				#{name},
				#{category},
				#{unit},
				#{createUser},
				#{updateUser},
				<if test="productSeriesId != null">#{productSeriesId},</if>
				<if test="picture != null">#{picture},</if>
				<if test="storageLife != null">#{storageLife},</if>
				<if test="specifications != null">#{specifications},</if>
				<if test="description != null">#{description},</if>
			</trim>
	</insert>
	
	<update id="updateMaterialBaseInfo" parameterType="com.ssm.ming.domain.MaterialBase">
		update t_material_base set
			<trim suffixOverrides=",">
				update_user=#{updateUser},
				update_time=NOW(),
				<if test="name != null">name=#{name},</if>
				<if test="category != null">category=#{category},</if>
				<if test="unit != null">unit=#{unit},</if>
				<if test="productSeriesId != null">product_series_id=#{productSeriesId},</if>
				<if test="picture != null">picture=#{picture},</if>
				<if test="storageLife != null">storage_life=#{storageLife},</if>
				<if test="specifications != null">specifications=#{specifications},</if>
				<if test="description != null">description=#{description},</if>
			</trim>
		where id=#{id}
	</update>
	
	<delete id="batchDeleteMaterialBaseInfo" parameterType="int">
		delete from t_material_base where id in 
			<foreach item="idItem" collection="array" open="(" separator="," close=")">
	            #{idItem}
	        </foreach>
	</delete>
</mapper>
